/* CONTEUDO ============================ */
.ticketBuy {
  color: var(--color-letter);
  padding-top: 1rem;
  margin: 0.5rem;
}

.textContent {
  margin: 1rem;
}

h1 {
  font-size: 2rem;
  font-family: var(--fontFamilyDif);
}

label {
  font-family: var(--fontFamilyDif);
}

/*  img + preco do buytickets */
.price {
  font-size: 2rem;
  font-family: var(--fontFamilyNormal);
}

.imgTicket {
  width: 50%;
  height: 25rem;
  font-size: 1rem;

  border-radius: 5px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* INPUT  */
input[type="number"] {
  width: 4rem;
  outline: none;
}

/* button */
button {
  border: 1px solid var(--bg-hover-cards);
  background: none;
  padding: 0.25rem;
  font-family: var(--fontFamilyNormal);
  font-size: var(--fontSizeMedium);
}

button:hover {
  color: var(--bg-page);
  transition: 2s;
}
