
/* BUT TICKET */
.ticketBuy {
  background-color: #fff;
}
/* CONTEUDO ============================ */
.textContainer {
  height: 30rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: var(--color-letter);
  background: var(--bg-page);

  display: flex;
  align-items: center;
  justify-content: center;
}

.textContent {
  margin: 1rem;
}

h1,
p {
  font-size: 2rem;
  font-family: var(--fontFamilyDif);
}

.price {
  font-size: 1rem;
  font-family: var(--fontFamilyNormal);
}

.imgTicket {
  width: 50%;
  height: 25rem;
  font-size: 1rem;

  border-radius: 5px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="number"] {
  width: 4rem;
  outline: none;
}

button {
  border: none;
  background: none;
  padding: 0.25rem;
  font-family: var(--fontFamilyNormal);
  font-size: var(--fontSizeMedium);
}

button:hover {
  color: var(--bg-page);
  transition: 2s;
}

.document {
  color: #000;
}
