/* IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Work+Sans:wght@400;500;700&display=swap");

/* reet of page ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-page: #51a9e4;
  --bg-page-second: #dfdfdf;
  --bg-page-bd: #f1f1f1;
  --bg-cards: #2b7bb1e0;
  --bg-hover-cards: #2313b4;

  --color-line: #00305a;
  --color-line-2: #022b50;
  --color-letter: #ffffff;

  --fontSizeLight: 1rem;
  --fontSizeMedium: 1.12rem;
  --fontSizeBold: 2.5rem;
  --fontSizeStrong: 4.5rem;

  --fontFamilyNormal: "Poppins", sans-serif;
  --fontFamilyDif: "Work Sans", sans-serif;

  --fontWeightLight: 400;
  --fontWeightMedium: 600;
  --fontWeightBold: 700;
}

/* background fundo ===================*/
body {
  background: var(--bg-page-bd);
}

/* SEPARAR */
.separator {
  height: 0.4rem;
  background: linear-gradient(
    to left,
    var(--bg-page-bd),
    var(--bg-page-second)
  );
  margin-bottom: 2rem;
}

/* entre em contato */
address > a {
  color: var(--bg-page);
}

/* navbar ======================== */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  text-align: center;
  display: inline;
  float: right;

  font-size: var(--fontSizeLight);
  color: var(--color-letter);
  font-family: var(--fontFamilyNormal);

  margin: 0.4rem;
  padding: 0.6rem;
}

nav ul li a {
  transition: 0.2s;
  position: relative;
  text-decoration: none;
}

nav .logo {
  width: 100%;
  top: 50%;
  left: -200%;
  position: relative;
  transform: rotate(40deg);
}

.logoIconHome {
  width: 100%;
  top: 50%;
  left: 30%;
  margin-top: 1.5rem;
  position: relative;
  transform: rotate(40deg);
}

.buttonCancelarEdit {
  text-transform: uppercase;
  color: var(--color-line-2);
  font-size: 2rem;
}
.buttonCancelarEdit:hover {
  text-decoration: none;
  color: var(--bg-cards);
}

nav img {
  width: 70%;
  top: 50%;
  left: 180%;
  position: relative;
}

/* projetos - destaques of songs ============================== */
main #projetos .container > h1 {
  font-size: var(--fontSizeStrong);
  font-family: var(--fontFamilyNormal);
  color: var(--color-letter);
}

main #projetos {
  border-radius: 2rem;
  padding: 6.25rem 3.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  background-color: var(--bg-page);
}

main #projetos .larguraMaxContainer h2 {
  padding-bottom: 20px;
  color: var(--color-letter);
  font-size: var(--fontSizeStrong);
  font-family: var(--fontFamilyDif);
  font-weight: var(--fontWeight);
}

main #projetos .larguraMaxContainer div {
  margin: 1.56rem 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

main #projetos .larguraMaxContainer div > article {
  height: auto;
  flex-grow: 1;
  flex-basis: calc(33% - 20px);
  background: var(--bg-cards);
  padding: 1.87rem 1.56rem; /* 30px 25px */
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #fff;

  font-size: var(--fontSizeMedium);
  font-family: var(--fontFamilyNormal);
  font-weight: var(--fontWeight);
}

main #projetos .larguraMaxContainer div > article:hover {
  border-radius: 5px;
  box-shadow: 0 0 1rem var(--bg-cards);
}

main #projetos .larguraMaxContainer div > article img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
}

main #projetos .larguraMaxContainer div > article h3 {
  font-size: 2.4rem;
  color: var(--color-letter);
  font-weight: 500;
}

main #projetos .larguraMaxContainer div > article p {
  line-height: 1.75rem; /* 28px */
  margin-top: 1.25rem;
  font-size: 1.6rem;
  color: var(--color-letter);
}

main #projetos .larguraMaxContainer a {
  font-size: 1.12rem;
  position: relative;
  text-decoration: none;
  color: var(--color-letter);

  font-size: var(--fontSizeLight);
  font-family: var(--fontFamilyDif);
  font-weight: var(--fontWeight);
}

main #projetos .larguraMaxContainer a:hover {
  border-bottom: 2px solid var(--bg-hover-cards);
}

main #projetos .larguraMaxContainer button {
  font-size: 2rem;
  background: none;
  border: none;
}

main #projetos .larguraMaxContainer .button {
  font-size: 1.5rem;
}

main #projetos .larguraMaxContainer button:hover {
  cursor: pointer;
}
