/* CADASTRO INICIAL =================== */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-page-second);
}

.content {
  background: var(--color-letter);
  border-radius: 0.95rem; /* 15px */
  width: 60rem; /* 960px */
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background: var(--bg-cards);
  width: 40%;
  height: 100%;
  border-top-left-radius: 0.95rem;
  border-bottom-left-radius: 0.95rem;

  left: 0;
}

.title {
  font-size: var(--fontSizeBold);
  font-weight: var(--fontWeightMedium);
  font-family: var(--fontFamilyNormal);
  text-transform: capitalize;
}

.title-primary,
.description-primary {
  color: var(--bg-cards);
}

.btn {
  border-radius: 0.95rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 3.15rem; /* 10px 50px */
  cursor: pointer;
  font-weight: bold;
  width: 9.3rem; /* 150px */
  align-self: center;
  border: none;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-letter);
}

.btn-primary {
  background: transparent;
  border: 1px solid #fff;
  transition: 0.5s;
}

.btn-second {
  background: var(--bg-cards);
  border: 1px solid var(--bg-hover-cards);
  transition: 0.5s;
}

.first-content {
  display: flex;
}

.first-content .second-column {
  z-index: 10;
}

.first-column {
  text-align: center;
  width: 50%;
  z-index: 10;
}

.second-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form > h1 {
  color: var(--color-letter);
  font-family: var(--fontFamilyDif);
  font-size: var(--fontSizeMedium);
  font-weight: var(--fontWeightMedium);
}

.formRegister h2 {
  color: var(--bg-cards);
  font-family: var(--fontFamilyDif);
  font-size: var(--fontSizeBold);
  font-weight: var(--fontWeight);
}

.form input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
}

.label-input {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.label-input-login {
  display: flex;
  align-items: center;
  margin: 1rem;
}

/* CARROSEL ========================== */
.carousel-caption > h3 {
  color: var(--color-letter);
}

.carousel-caption > p {
  color: #43baca;
}

/* TICKET PAGINA ======================== */
.textContainer {
  font-family: var(--fontFamilyNormal);
  font-size: var(--fontSizeMedium);
  font-weight: var(--fontWeight);
  background: var(--bg-page);

  margin-left: 5rem;
}

.ticketBuy {
  color: var(--color-letter);
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 0.5rem;
}
